body {
    font-family: 'Nunito', sans-serif;
}
.active{
    color:black;
    font-weight: 900;
}
.alert-danger{
    color:red;
    font-weight: 900;
}
.red{
    color:red;
    font-weight: 900;
}
.alert-success{
    color: green;
    font-weight: 900;
}
select{
    -webkit-appearance: listbox !important;
    }
.position{
    display: flex  !important;
}